
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.text-green {
  color: #1c7430;
}

.text-red {
  color: darkred;
}

.bg-correct{
  background-color: #98e1b7;
}

.bg-failed{
  background-color: #f4b0af;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;

}


.modal-content {
  background-color: green;
  margin: 15% auto;
  padding: 20px;
  color: white;
  border: 1px solid #888;
  width: 40%;
}

.close {
  color: black;
  float: right;
  text-align: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


.feather-32{
  width: 32px;
  height: 32px;
}

.radioB>[type="radio"]:not(:checked) + label:before {
  border: 1px solid #1a4380!important;
  border-radius: 100%;
  background: #fff!important;
}

.color1 {
  cursor:pointer; background-color: rgb(202, 199, 216);
  width: 20px;
  height: 20px;
  margin-top: 12px;
  margin-right: 10px
}
.color2 {
  cursor:pointer; background-color: rgb(217, 227, 203);
  width: 20px;
  height: 20px;
  margin-top: 12px;
  margin-right: 10px
}
.color3 {
  cursor:pointer; background-color: rgb(163, 192, 144);
  width: 20px;
  height: 20px;
  margin-top: 12px;
  margin-right: 10px
}
.color4 {
  cursor:pointer; background-color: rgb(213, 229, 215);
  width: 20px;
  height: 20px;
  margin-top: 12px;
  margin-right: 10px
}
.color5 {
  cursor:pointer; background-color: rgb(206, 223, 144);
  width: 20px;
  height: 20px;
  margin-top: 12px;
  margin-right: 10px
}
.color6 {
  cursor:pointer; background-color:rgb(215, 205, 196);
  width: 20px;
  height: 20px;
  margin-top: 12px;
  margin-right: 10px
}



